# install module and create data sample

In [1]:
!pip install faker

Collecting faker
  Obtaining dependency information for faker from https://files.pythonhosted.org/packages/30/50/cd430ebe6ec486ac5e13c27ae9410a0d0c510b4968a6a7a84878703d48f4/Faker-19.6.2-py3-none-any.whl.metadata
  Downloading Faker-19.6.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /home/codespace/.local/lib/python3.10/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-19.6.2-py3-none-any.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 19.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: faker
Successfully installed faker-19.6.2

In [4]:
from faker import Faker
fake = Faker()
names = [fake.name().split() for _ in range(100)]

In [6]:
names = [name for name in names if len(name)==2]

In [7]:
names

[['William', 'Vaughn'],
 ['Grace', 'Collins'],
 ['Maurice', 'Carter'],
 ['Benjamin', 'Gomez'],
 ['Ryan', 'Sharp'],
 ['Raymond', 'Frazier'],
 ['Courtney', 'Brown'],
 ['Christopher', 'Dennis'],
 ['Hannah', 'Smith'],
 ['Debbie', 'Rios'],
 ['Keith', 'Martin'],
 ['Robert', 'Montgomery'],
 ['Rhonda', 'Patterson'],
 ['Jacob', 'Mercer'],
 ['Jordan', 'Wheeler'],
 ['Sonya', 'Hughes'],
 ['Dawn', 'Hawkins'],
 ['Dawn', 'Johnson'],
 ['Adam', 'Henry'],
 ['Laura', 'Martinez'],
 ['Alejandra', 'Wong'],
 ['Ryan', 'Lowery'],
 ['Heather', 'King'],
 ['Leslie', 'Carter'],
 ['Kenneth', 'Estes'],
 ['Ryan', 'Davis'],
 ['Kevin', 'Weaver'],
 ['Phillip', 'Jensen'],
 ['Michael', 'Sweeney'],
 ['Robert', 'Lopez'],
 ['Christopher', 'Stewart'],
 ['James', 'Clarke'],
 ['Christopher', 'White'],
 ['Kimberly', 'Clarke'],
 ['Mary', 'Ward'],
 ['Jeremy', 'Johnson'],
 ['Sara', 'Meza'],
 ['Jill', 'Wheeler'],
 ['Amy', 'Rogers'],
 ['Jeffrey', 'Soto'],
 ['Brooke', 'Young'],
 ['Vincent', 'Campbell'],
 ['Christopher', 'Bush'],
 ['Cassandra', 'Bass'],
 ['Gregory', 'Harris'],
 ['Robert', 'Eaton'],
 ['Michelle', 'Evans'],
 ['Jimmy', 'Brown'],
 ['Paul', 'Ortega'],
 ['Katherine', 'Doyle'],
 ['Crystal', 'Fleming'],
 ['Ashley', 'Johnson'],
 ['Jessica', 'Jennings'],
 ['Harold', 'Bradley'],
 ['Rachael', 'Scott'],
 ['Andrea', 'Compton'],
 ['Terry', 'Pierce'],
 ['Travis', 'Conner'],
 ['Renee', 'Brown'],
 ['Matthew', 'Kline'],
 ['Sheila', 'Hall'],
 ['Joshua', 'Hanson'],
 ['Samuel', 'Fisher'],
 ['Timothy', 'Wilson'],
 ['Rachel', 'Santiago'],
 ['Amber', 'Aguirre'],
 ['Jason', 'Thornton'],
 ['Russell', 'Sullivan'],
 ['Carrie', 'Lewis'],
 ['Matthew', 'Cooper'],
 ['Michelle', 'Leblanc'],
 ['Amanda', 'Morgan'],
 ['Phyllis', 'Espinoza'],
 ['Taylor', 'Brock'],
 ['Adam', 'Allen'],
 ['Christian', 'Browning'],
 ['Teresa', 'Moore'],
 ['Tiffany', 'Bolton'],
 ['Selena', 'Jackson'],
 ['Brian', 'Mcguire'],
 ['Hannah', 'Freeman'],
 ['John', 'Hill'],
 ['William', 'Palmer'],
 ['Jeremy', 'Jarvis'],
 ['Omar', 'Stark'],
 ['Kaitlin', 'Porter'],
 ['Dennis', 'Hoffman'],
 ['Shelia', 'Ortega'],
 ['Lisa', 'Morales'],
 ['Daniel', 'Lopez'],
 ['Tamara', 'West'],
 ['Courtney', 'White'],
 ['James', 'Clayton'],
 ['Alan', 'Mckinney'],
 ['Amanda', 'Mitchell']]

# Connect to SQLite DB created

In [8]:
import sqlite3

connection = sqlite3.connect("sample.db")

In [10]:
insert_query = "INSERT INTO people(name, surname) VALUES(?, ?)"
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()

In [11]:
select_query = "SELECT * FROM people LIMIT 10"
for i in cursor.execute(select_query):
    print(i)

(1, 'William', 'Vaughn')
(2, 'Grace', 'Collins')
(3, 'Maurice', 'Carter')
(4, 'Benjamin', 'Gomez')
(5, 'Ryan', 'Sharp')
(6, 'Raymond', 'Frazier')
(7, 'Courtney', 'Brown')
(8, 'Christopher', 'Dennis')
(9, 'Hannah', 'Smith')
(10, 'Debbie', 'Rios')